*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  border: 1px solid black;
  width: 90%;
  max-width: 1200px; /* set the maximum width here */
  margin-inline: auto;
  position: relative;
  height: 50px; /* set the height of the wrapper */
  margin-top: 50px;
  overflow: hidden;
}

@keyframes scroll {
  to {
    left: -1000px; /* move the item to the left by its own width */
  }
}

.item {
  width: 1000px; /* set the width of the scrolling item */
  height: 50px; /* set the height of the scrolling item */
  background-color: red;
  border-radius: 6px;
  position: absolute;
  left: 100%;
  animation-name: scroll;
  animation-duration: 70s; /* adjust the animation duration */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.scrolltext {
  padding-top: 12px;
  white-space: nowrap; /* add this to prevent text wrapping */
}